.Bcolor{
    background-color:hsl(47, 88%, 63%);
}

.font{
    font-size: 10px;
}

.fit{
    width:100vw;
    height:88.5vh;
}

.div{
    width:330px;
    height:480px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: white;
    border:1px solid;
    border-color: black;
    color:white;
    place-self: center;

}

.small-div{
    width:65px; 
    height:22px;
    background-color:hsl(47, 88%, 63%);
    position:absolute;
    top:225px;
    left: 536px;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    font-size: smaller;
    font-family: arial;
    text-align:center;
    color:black;
    font-weight: bolder
    

}

.img{
    width: 293px;
    position:absolute;
    top: 30px;
    left:536px
}

.text{
    color:black;
    font-family: arial;
    font-size:smaller;
    position:absolute;
    top: 260px;
    left:536px
}

.text2{
    font-size:larger;
    font-family: arial;
    position:absolute;
    top:290px;
    left:536px;
    color:black;
    font-weight: bolder;
}

.text3{
    font-size: smaller;
    font-family:arial;
    position:absolute;
    top:340px;
    left:536px;
    color: grey;
    
}

.text4{
    font-size: smaller;
    font-family:arial;
    position:absolute;
    top:360px;
    left:536px;
    color: grey;
    
}

.text5{
    font-size: smaller;
    font-family:arial;
    position:absolute;
    top:380px;
    left:536px;
    color: grey;
    
}

.img2{
    position:absolute;
    top:420px;
    left:536px;
    width:30px;
}

.text6{
    position:absolute;
    top:430px;
    left:580px;
    color:black;
    font-weight: bolder;
    font-size: 12px;
    font-family:arial;

}